html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner-content h2 {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  line-height: 1.4;
}

.banner-content p {
  font-size: 2rem;
  margin-bottom: .5rem;
  font-style: italic;
  line-height: 1.5;
}

.banner {
  max-height: 500px;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner-content {
  max-width: 50em;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: .3rem;
}

.banner-content h2 span {
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
}
