html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
}

p {
  font-size: 2rem;
}
